<nav class="nav-link">
    <a [routerLink]="['/sign-up']" class="link">Sign Up</a>
</nav>
<section>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-login">
    <label for="email">Email: </label>
    <input type="email" formControlName="email" id="email" autocomplete="off"/>
    <label for="pass">Password:</label>
    <input type="password" formControlName="password" id="pass"/>
    <button [disabled]="!form.valid">Send</button>
</form>
</section>
