article{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-search{
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    width: 500px;
    background-color: rgb(158, 191, 191);
    box-shadow: 5px 3px 5px 3px rgba(79, 87, 87, 0.628);
}

input{
    border-radius: 25px;
    margin: 10px 0;
    height: 30px;
    padding: 5px 10px;
    width: 100%;
}

.container{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
}

.list-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-word{
    width: 50px;
    padding:0 10px;
}
.list-level{
    padding:0 15px;
    width: 70px;
    text-align: center;
}
.list-id{
    max-width: 100%;
    /*padding: 0 15px;*/
}

button{
    width: 80px;
    margin: 5px;
    height: 25px;
    border: none;
    color: rgb(5, 86, 43);
    box-shadow: 5px 3px 5px rgb(158, 191, 191);
    border-radius: 25px;
}
