<article>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-search"> 
    <input type="hidden" formControlName="id" />
    Word:
  <input type="text" formControlName="word" required /> Level (1-5):
  <input type="number" formControlName="level" min="1" max="5" required/>
  <button type="submit" [disabled]="!form.valid">{{ mode }}</button>
  <button type="button" (click)="setCreateMode()" *ngIf="mode === 'Update'">cancel</button>
</form>
</article>

<div *ngIf="offensiveWord$ | async as words">
    <div *ngIf="words.length > 0" class="container">
        <ul *ngFor="let word of words" class="list-container">
            <li class="list-word">
                {{word.word}}</li>
            <li class="list-level">{{word.level}}</li>
            <li class="list-id">{{word.id}}</li>
            <li><button (click)="updateOffensiveWord(word)">Edit</button>
            <button (click)="deleteOffensiveWord(word.id!)">Delete</button></li>
        </ul>
    </div>
</div>
