<nav class="nav-link">
    <a [routerLink]="['/login']" class="link">Login</a>
</nav>

<section>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-login">
    <h2>Register</h2>
    <label for="nickName">NickName:</label> 
    <input type="nickName" formControlName="nickName" id="nickName"/>
    <label for="email">Email:</label> 
    <input type="email" formControlName="email" placeholder='prueba@gmail.com' id="email"/>
    <label for="pass">Password:</label> 
    <input type="password" formControlName="password" id="pass" />
    <select formControlName="role">
    <option selected>Select Role</option>
    <option>USER</option>
    <option>AUTHOR</option>
    </select>
    <button [disabled]="!form.valid">Send</button>
</form>
</section>
