.nav-link{
    display: flex;
    justify-content: flex-end;
}

.link{
    color:rgb(6, 53, 53);
}

.link:hover{
    color:rgb(10, 79, 79);
    text-decoration: underline;
}

section{
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 135px;
}

.form-login{
display: flex;
flex-direction: column;
background-color: rgb(77, 162, 181);
color:white;
padding: 10px;
box-shadow: 5px 3px 5px 4px rgba(77, 162, 181, 0.317);
}

.form-login input{
  padding:0 5px;
}

.form-login label{
    padding:10px  0 0;
}

button{
    margin-top:8px;
}
button:hover{
    color:rgb(10, 79, 79);
}

select{
    margin-top: 5px;
}