/* You can add global styles to this file, and also import other style files */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding:10px;
    background-color: aliceblue;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}